# Agenda
* Single and multiple line comments
* Variable Assign
* Python mumber and to check data type
* To convert data type
* Strings

In [1]:
print("Hello,World!") #see the output

Hello,World!

In [2]:
#This is a comment
#written in
#more than just one line
print("hello, Suraj")  #fggggf

hello, Suraj

In [4]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, world")

Hello, world

# VARIABLE Assign

=

In [5]:
x = 5  # number
y = "John"  #String variable can be declared either
# by using single or double quotes:
print(y)

John

In [6]:
y

'John'

In [8]:
x = 3

In [9]:
x

3

In [10]:
print(x)

3

In [18]:
x = "john"
x = "abc"
print(x)

abc

In [14]:
[1,2,3,4]

[1, 2, 3, 4]

In [15]:
x = [21,22,23,34]

In [16]:
x

[21, 22, 23, 34]

In [19]:
print(x)

abc

In [12]:
# Assign Value to Multiple Variables
* Python allows you to assign values to multiple variables in one line:

SyntaxError: invalid syntax (<ipython-input-12-a2bc49b180ba>, line 2)

In [4]:
x,y,z = ("orange","banana","cherry")
print(x)
print(y)
print(z)

orange
banana
cherry

In [5]:
x,y,z

('orange', 'banana', 'cherry')

#  Python Numbers
* there are three numeric types in python 
* int
* float
* complex

In [6]:
x = 10 
y = 2.8 
z = 1j

In [8]:
y,x,z

(2.8, 10, 1j)

#  To check data type

In [7]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#  Int
* Int, or integer, is a whole number, positive or nigetive, without decimals, of unlimited lenght.

In [9]:
x = 1
y = 35656222554887711
z = -32

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#  Float
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [10]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#  Float can also be scientific numbers with an "e" to indicate e raise to power 10

In [13]:
x=35e1
z=35e-1
y=12e4


print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

350.0
120000.0
3.5
<class 'float'>
<class 'float'>
<class 'float'>

# Complex 
* Complex numbers are written with a "j" as the imaginary part

In [17]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion 
* You can convert from one type to another with the int(). float(), and complex() methods

In [15]:
x = 1
print(type(x))
a = float(x)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
1.0

In [16]:
x = 10.3   # float
print(type(x))
a = int(x)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
10

In [18]:
a = "hello"
a

'hello'

In [26]:
a = "Hello, world!"
print(a[5])

,

In [20]:
b = "Hello"
print(b[0:4])

Hell

In [22]:
a = "Suraj"
len(a)

5

In [24]:
a = "Hello world!"
print(a.lower())

hello world!

In [23]:
a = "Hello world!"
print(a.upper())

HELLO WORLD!

In [27]:
a = "Hello world!"
print(a.replace("H","J"))

Jello world!

# Command-line String Input

In [ ]:
x = input()
Print("Hello", x)